<!DOCTYPE html>
<html>
  <head>
    <title>iCookie</title>
    <%= stylesheet_link_tag "application", media: "all",
                                              "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><%= link_to "About", "#" %></li>
          <li><%= link_to "Contact", "#" %></li>
        </ul>
        <h3 class="text-muted"><%= link_to "iCookie", root_path %></h3>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
